* {
  box-sizing: border-box;
}

section {
  margin: 0 auto;
  width: 50%;
}

fieldset {
  padding-top: 1rem;
  padding-bottom: .5rem;
}

button, input {
  font-size: 1rem;
  margin-bottom: .5rem;
  padding: .5rem;
  width: 100%;
}

label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

ul {
  list-style: none;
  margin: 1rem 0 0;
  padding: 0;
}

li {
  border: 1px solid silver;
  line-height: 2;
  padding: 0 1rem;
}

li a {
  margin-left: 5px;
}

.promoted {
  background-color: rgba(102,175,233,0.25);
  border-color: #66afe9;
}
